*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--warning: hsla(39, 100%, 50%, 0.8);
	--orange: hsl(21, 62%, 45%);
	--orange-hover: hsl(21, 62%, 35%);
	--light-gray: rgba(0, 0, 0, 0.8);
	--dark-gray: hsl(209deg, 61%, 16%);
	--dirty-white: hsl(210, 36%, 96%);
	--light-blue: hsl(210, 22%, 49%);
	--dark-blue: hsl(209, 61%, 16%);
	--section: 3rem 1.5rem;
	--small-opacity: 0.8;
	--fail-color: #f32525;
	--success-color: #1ea11e;

	font-size: 62.5%;
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
}

body {
	font-size: 1rem;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.text-center {
	text-align: center;
}

.text-bold {
	font-weight: bold;
}

.section {
	padding: 3rem 1.5rem;
}

.pt-5 {
	padding-top: 10rem;
}

.pb-5 {
	padding-bottom: 10rem;
}

.mt-5 {
	margin-top: 10rem;
}

.mb-5 {
	margin-bottom: 10rem;
}

.activeLink {
	color: var(--orange) !important;
}

.button {
	display: inline-block;
	padding: 1em 2em;
	color: #fff;
	background-color: var(--orange);
	text-transform: uppercase;
	border-radius: 6px;
	font-size: 1.4rem;
	font-weight: bold;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.error-text {
	grid-column: 1/-1;
	padding-bottom: 2em;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	color: rgb(255 0 0 / 70%);
	word-break: break-word;
}

.scroll-disabled {
	overflow-y: hidden;
}

/* pagination */
.pagination {
	grid-column: 1/-1;
	margin: 15px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--orange);
	font-size: 1.6rem;
	font-weight: bold;
}
.pagination li.active a {
	background-color: var(--orange);
	border-color: var(--orange);
	color: #fff;
}
.pagination li a {
	border: 1px solid var(--orange);
	padding: 5px 10px;
	cursor: pointer;
}

.pagination li.active a:hover {
	background-color: var(--orange-hover);
	border-color: var(--orange-hover);
}
.pagination li a:hover {
	background-color: var(--dirty-white);
}

@keyframes fade-in-from-bottom {
	from {
		opacity: 0;
		transform: translate(-50%, -30%);
	}

	to {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}
