*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--orange: hsl(21, 62%, 45%);
	--orange-hover: hsl(21, 62%, 35%);
	--light-gray: rgb(0 0 0 / 80%);
	--dirty-white: hsl(210, 36%, 96%);
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1rem;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.text-center {
	text-align: center;
}

.show {
	transform: translateY(0) !important;
	opacity: 1 !important;
	visibility: visible !important;
}

.open {
	transform: translateX(0) !important;
	opacity: 1 !important;
	visibility: visible !important;
}
